body 
{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Lato', sans-serif;
	animation: bgchange 20s infinite;
}

h1 
{
	font-size: 70px;
	text-align: center;
	text-transform: capitalize;
	color: white;
}

@keyframes bgchange {
		0% { background-color: #272727 }

	10% { background-color: rgb(59, 59, 95) }

	20% { background-color: blue }

	30% { background-color: rgb(14, 144, 200) }

	40% { background-color: tomato }

	50% { background-color: rgb(244, 238, 59) }

	60% { background-color: lightblue }

	70% { background-color: rgb(173, 230, 177) }

	80% { background-color: darkgreen }

	90% { background-color: hsl(0, 100%, 98%) }

	100% { background-color: aqua }
}
